// COLORS
$text-heading: #363f5f;
$text-paragraph: #969cb2;

$green: #49aa26;
$green-dark: #2d4a22;

$red: #e92929;

$background: #f0f2f5;

$white: #fff;

// BREAKPOINTS
$layout-breakpoint-mobile: 480px;
$layout-breakpoint-tablet: 768px;
$layout-breakpoint-desktop: 1024px;
