/* CSS BASIC RESET */

:root {
    --background: #F0F2F5;
    --full-white: #FFFFFF;
    --full-black: #000000;
    --primary: #49AA26;
    --secondary: #2D4A22;
    --text: #969CB2;
    --title: #363F5F;
    --danger: #E92929;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

body {
    background-color: var(--background);
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/* HEADER */

.header_container {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: var(--secondary);
    padding: 2.4rem;
    height: 20rem;
}

/* TRANSACTIONS */

.transactions_container {
    width: 100%;
    max-width: 120rem;
    margin: -8rem auto 0 auto;
}

.transactions_card_container {
    display: flex;
    justify-content: center;
    gap: 3.2rem;

    & .card {
        background-color: var(--full-white);
        padding: 2.4rem;
        border-radius: 1rem;
        width: 100%;
        height: 15rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.6rem; 

        &.total {
            background-color: var(--primary);
            
            & h2, h3 {
                color: var(--full-white);
            }
        }

        & h2 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.6rem;
            font-weight: 300;
            color: var(--text);

            & i {
                font-size: 3.2rem;
            }

            & i.entry {
                color: var(--primary);
            }

            & i.exit {  
                color: var(--danger);
            }
        }

        & h3 {
            font-size: 3.2rem;
            font-weight: 500;
            color: var(--title);
        }
    }
}