/* CSS BASIC RESET */

:root {
    --background: #F0F2F5;
    --full-white: #FFFFFF;
    --full-black: #000000;
    --modal-background: #00000090;
    --primary: #49AA26;
    --secondary: #2D4A22;
    --text: #969CB2;
    --title: #363F5F;
    --danger: #E92929;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

body {
    background-color: var(--background);
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/* HEADER */

.header_container {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: var(--secondary);
    padding: 4rem;
    height: 20rem;
}

/* TRANSACTIONS */

.transactions_container {
    width: 100%;
    max-width: 120rem;
    margin: -8rem auto 0 auto;
}

.transactions_card_container {
    display: flex;
    justify-content: center;
    gap: 3.2rem;

    & .card {
        background-color: var(--full-white);
        padding: 2.4rem;
        border-radius: 1rem;
        width: 100%;
        height: 15rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.6rem; 

        &.total {
            background-color: var(--primary);
            
            & h2, h3 {
                color: var(--full-white);
            }
        }

        & h2 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.6rem;
            font-weight: 400;
            color: var(--text);

            & i {
                font-size: 3.2rem;
            }

            & i.entry {
                color: var(--primary);
            }

            & i.exit {  
                color: var(--danger);
            }
        }

        & h3 {
            font-size: 3.2rem;
            font-weight: 500;
            color: var(--title);
        }
    }
}

/* VALUES */

.values_container {
    width: 100%;
    max-width: 120rem;
    margin: 6.4rem auto;

    & .values_header_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.6rem;

        & h2 {
            font-size: 2.4rem;
            font-weight: 500;
            color: var(--title);
        }
        .values_header_buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1.6rem;

            & button {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.8rem;
                font-size: 1.6rem;
                font-weight: 500;
                color: var(--full-white);
                background-color: var(--primary);
                border: none;
                border-radius: 1rem;
                padding: 1.6rem;
                cursor: pointer;
                transition: background-color 0.2s ease;

                &:hover {
                    background-color: var(--secondary);
                }
            }

            & button:nth-child(2) {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 0.8rem;
                    font-size: 1.6rem;
                    font-weight: 500;
                    color: var(--danger);
                    background-color: transparent;
                    border: 1px solid var(--danger)  ;
                    border-radius: 1rem;
                    padding: 1.6rem;
                    cursor: pointer;
                    transition: background-color 0.2s ease;
                    width: 100%;

                    &:hover {
                        background-color: var(--danger);
                        color: var(--full-white);
                    }
                }
        }
    }

    & table {
        width: 100%;
        border-spacing: 0 0.8rem;

        & thead {
            & tr {
                & th {
                    font-size: 1.6rem;
                    font-weight: 400;
                    color: var(--text);
                    padding: 0 2.4rem;

                    &.table_header_description {
                        text-align: left;
                    }

                    &.table_header_value {
                        text-align: center;
                    }

                    &.table_header_date {
                        text-align: right;
                    }
                }
            }
        }

        & tbody {
            & tr {
                background-color: var(--full-white);

                & td {
                    font-size: 1.6rem;
                    font-weight: 400;
                    color: var(--title);
                    padding: 2.4rem;

                    &.table_data_description {
                        text-align: left;
                        border-radius: 1.6rem 0 0 1.6rem;
                    }

                    &.table_data_value {
                        text-align: center;

                        &.entry {
                            color: var(--primary);
                        }

                        &.exit {
                            color: var(--danger);
                        }
                    }

                    &.table_data_date {
                        text-align: right;
                        border-radius: 0 1.6rem 1.6rem 0;
                    }
                }
            }
        }
    }
}

/* FOOTER */

.footer_container {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 2.4rem;
    color: var(--text);
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}

/* MODAL */

#modal {
    display: none;

    &.openModal {
        display: flex;
    }
}

.modal_container {
    background-color: var(--modal-background);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    & .modal_card {
        background-color: var(--full-white);
        padding: 2.4rem;
        border-radius: 1rem;
        width: 100%;
        max-width: 60rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        & h2 {
            font-size: 2.4rem;
            font-weight: 500;
            color: var(--title);
        }

        & p {
            font-size: 1.4rem;
            font-weight: 400;
            color: var(--text);
            margin-bottom: 1.6rem;
        }

        & button.add_transaction {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.8rem;
            font-size: 1.6rem;
            font-weight: 500;
            color: var(--full-white);
            background-color: var(--primary);
            border: 1px solid var(--primary);
            border-radius: 1rem;
            padding: 1.6rem;
            cursor: pointer;
            transition: background-color 0.2s ease;
            width: 100%;

            &:hover {
                background-color: var(--secondary);
                border-color: var(--secondary);
            }
        }

        & button.close_modal {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.8rem;
            font-size: 1.6rem;
            font-weight: 500;
            color: var(--danger);
            background-color: transparent;
            border: 1px solid var(--danger)  ;
            border-radius: 1rem;
            padding: 1.6rem;
            cursor: pointer;
            transition: background-color 0.2s ease;
            width: 100%;

            &:hover {
                background-color: var(--danger);
                color: var(--full-white);
            }
        }

        & .modal_form {
            display: flex;
            flex-direction: column;
            gap: 1.6rem;

            & input {
                padding: 1.6rem;
                border-radius: 1rem;
                border: 1px solid var(--text);
                color: var(--title);
                font-size: 1.6rem;
                font-weight: 400;
                outline: none;
                transition: box-shadow 0.2s ease;

                &::placeholder {
                    color: var(--text);
                }

                &:focus {
                    box-shadow: 0 0 0 2px var(--primary);
                }
            }

            & select {
                padding: 1.6rem;
                border-radius: 1rem;
                border: 1px solid var(--text);
                color: var(--title);
                font-size: 1.6rem;
                font-weight: 400;
                outline: none;
                transition: box-shadow 0.2s ease;

                &:focus {
                    box-shadow: 0 0 0 2px var(--primary);
                }   

                & option {
                    color: var(--title);
                }
            }

            & .modal_form_buttons {
                display: flex;
                align-items: center;
                width: 100%;
                gap: 1.6rem;
            }
        }
    }
}

/* RESPONSIVE */

@media (max-width: 800px) {
    .transactions_container,
    .values_container {
        padding: 0 1.5rem;
    }

    .transactions_card_container {
        flex-direction: column;
        gap: 1.6rem;
    }

    .value_table_container {
        overflow-x: auto;
    }
}
