footer {
    margin: 6.4rem 0;

    .gridWrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-width: 12.4rem;
        }
    }
}

@media (max-width: $layout-breakpoint-tablet) {
    footer {
        margin: 3.2rem 0;
    }
}
