footer {
    margin-top: 6.4rem;

    .gridWrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-width: 12.4rem;
        }
    }
}
