.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $black-modal;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 999;

    &.openModal {
        @keyframes slideUp {
            from {
                transform: translateY(8rem);
            }
            to {
                transform: translateY(0);
            }
        }
        visibility: visible;
        opacity: 1;
        & .modal {
            animation: slideUp 0.3s ease forwards;
        }
    }

    .modal {
        background: $background;
        padding: 3.2rem;
        border-radius: $border-radius-medium;
        width: min(60rem, 90%);
        box-shadow: $box-shadow-xl;

        h2 {
            font-size: 2.4rem;
            color: $text-heading;
            font-weight: 500;
            margin-bottom: 1.6rem;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 0.8rem;

            .input-group {
                flex: 1;
                background: $white;
                border-radius: $border-radius-small;
                padding: 1.6rem;
                &:has(input:focus) {
                    box-shadow: $green 0 0 0 0.1rem;
                }

                input {
                    width: 100%;
                    font-size: 1.4rem;
                    color: $text-heading;
                    &::placeholder {
                        color: $text-paragraph;
                    }
                }
            }

            .btns-group {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 1.6rem;
                margin-top: 1.6rem;

                button {
                    flex: 1;
                }
            }
        }
    }
}
