* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
    background: $background;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    outline: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

span {
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
    background: transparent;
    border: none;
    outline: none;
    display: block;
}

button {
    cursor: pointer;
    padding: 1.2rem 2rem;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: $border-radius-medium;

    &.btn-primary {
        background: $green;
        color: $white;
        &:hover {
            background: $green-light;
        }
    }

    &.btn-secondary {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        background: $background;
        color: $green;
        border: 1px solid $green;
        &:hover {
            background: $green;
            color: $white;
        }
    }
}

.gridWrapper {
    width: 100%;
    max-width: 115.2rem;
    padding: 0 1.6rem;
    margin: 0 auto;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
